p{background-color:
}

body {
  font-size: 30px;

}
.text {
  font-size: 70px;
}


.container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  margin: 70px auto;
  width: 60%;
  font-size: 30px;

}

img{
  max-width: 350px;
  float: left;
  border-radius:20 px;
  border: 3px solid white;
  margin-right: 10px;
}

.move {
  position: relative; left: 30px;
}
h3{
  position: relative; left: 40px;
}
ul{
  position: relative; left: 80px;
}
 option{
  width:150px;
}

.video-container {
            text-align: center;
            height: 10vh; /* Full viewport height */
            display: flex;
            justify-content: center;
            align-items: center;
        }
        video {
            margin: auto;
        }

  select {
      width: 300px;
      font-size: 20px;
      padding: 10px;
      border: 2px solid #ccc;
  }
  option {
      padding: 10px;
  }
